rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Default deny rule
    match /{document=**} {
      allow read, write: if false;
    }

    // scheduleApp - main roster synchronized data document (needs to load before auth & allow edit by offline/passcode admins)
    match /scheduleApp/{docId} {
      allow read, write: if true;
    }

    // admins - list of administrators (sub-admins are checked locally before auth login)
    match /admins/{docId} {
      allow read, write: if true;
    }

    // registrationRequests - registrations queue (read on load in App.tsx to list requests in panel, written on register)
    match /registrationRequests/{docId} {
      allow read, write: if true;
    }

    // requests - employee leaves, swaps, or shift changes (read/written by workers and passcode-only admins)
    match /requests/{docId} {
      allow read, write: if true;
    }

    // attendance - attendance punch logs
    match /attendance/{docId} {
      allow read, write: if true;
    }
  }
}
